
@{
    ViewBag.Title = "GetPSLId";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";

}
<ul id="sidebar-nav" class="nav d-flex flex-column accordion-nav">
    @{
           
            foreach (var item in ViewBag.ListPSLId)
            {
            <li class="nav-item">
                <div class="nav-link d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <a href="#pslid-@item" class="btn-toggle-nav_child collapsed">&nbsp;&nbsp;@item</a>
                        <a href="#">&nbsp;&nbsp;</a>
                    </div>
                </div>
                <div id="pslid-@item" class="is-child show"></div>
            </li>
           
        }
    }
    @*@foreach (var item in ViewBag.ListPSLId)
    {
        <li class="nav-item">
            <div class="nav-link d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <a href="#pslid-@item" class="btn-toggle-nav_child collapsed">&nbsp;&nbsp;@item</a>
                    <a href="#">&nbsp;&nbsp;</a>
                </div>
            </div>
            <div id="pslid-@item" class="is-child show"></div>
        </li>
    }*@
</ul>

