<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
  <!--<add name="tsicsdbcontext" connectionString="data source=tuazvmdb01.tu.tmt.co.id;initial catalog=trakindotsics;persist security info=true;user id=ictbpm;password=trakindo;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="dbemployeemaster" connectionString="data source=tuazvmdb01.tu.tmt.co.id;initial catalog=employeemaster;persist security info=true;user id=ictbpm;password=trakindo;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />-->
    <!--<add name="TSICSdbContext" connectionString="data source=192.168.3.143\SQL2012;initial catalog=TrakindoTSICS;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="dbEmployeeMaster" connectionString="data source=192.168.3.143\SQL2012;initial catalog=EmployeeMaster;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="TSICSdbContext" connectionString="data source=vtu-sapcrmqas.tu.tmt.co.id;initial catalog=TrakindoTSICS;persist security info=True;user id=portalqa;password=portalqa1609;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="dbEmployeeMaster" connectionString="data source=vtu-sapcrmqas.tu.tmt.co.id;initial catalog=EmployeeMaster;persist security info=True;user id=portalqa;password=portalqa1609;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
   <add name="TSICSdbContext" connectionString="data source=xxxxxx;initial catalog=TrakindoTSICS;persist security info=true;user id=xxxxx;password=xxxxxx;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
    <add name="dbEmployeeMaster" connectionString="data source=xxxxxx;initial catalog=employeemaster;persist security info=true;user id=xxxxx;password=xxxxxx;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
   </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LoginPortal" value="false" />
    <add key="LoginManualXupj" value="TECHNICAL.C.ADMIN1" />
    <add key="Host" value="portal.trakindo.co.id" />
    <add key="MobileAuthorization" value="r74Dkl9KUp7dsERGFmmA0uOoD1udYE" />
    <add key="RulesDay" value="3" />
    <add key="ApprovalSpvDay" value="1" />
    <add key="ApprovalTsManagerDay" value="1" />
    <add key="Domain" value="http://devapps.trakindo.co.id/TREND" />
    <!--<add key="Domain" value="http://localhost:1051" />-->
    <add key="SendEmail" value="true" />
    <!--<add key="SendEmail" value="false" />-->
    <add key="AutoCloseRules" value="3" />

    <!--setting email-->
   <!--<add key="UrlEmail" value="http://devapps.trakindo.co.id/trakindo-gateway-email/MailService.svc/mail/send" />-->
    <!--<add key="UrlEmail" value="https://netapps.trakindo.co.id:82/trakindo-gateway-email/MailService.svc/mail/send" />-->
     <add key="UrlEmail" value="http://netapps.trakindo.co.id/trakindo-gateway-email/MailService.svc/mail/send" />
    <add key="UserGuideFileNameWithExtention" value="TREND_User_Guide.pdf" />
    
    <add key="EmailTagTSICSregister" value="TSICSregister" />
    <add key="EmailTagTSICSneedApprove1" value="TSICSneedApprove1" />
    <add key="EmailTagTSICSreject" value="TSICSreject" />
    <add key="EmailTagTSICSactived" value="TSICSactived" />
    <add key="EmailTagTSICSCreateTR" value="TSICSCreateTR" />
    <add key="EmailTagTSICSneedApprove2" value="TSICSneedApprove2" />
    <add key="EmailTagTSICSResponApprove1" value="TSICSResponApprove1" />
    <add key="EmailTagTSICSResponApprove2" value="TSICSResponApprove2" />
    <add key="EmailTagTSICSResponApproveAdmin" value="TSICSneedApproveAdmin" />
    <add key="EmailTagTSICSTRFlagRed" value="TSICSTRFlagRed" />
    <add key="EmailTagTSICSneedApproveTs" value="TSICSneedApproveTs" />
    <add key="EmailTagTSICSautoRejectRegister" value="TSICSautoRejectRegister" />
    <add key="EmailTagTSICSCommentTR" value="TSICSCommentTR" />
    
    <!--Articles-->
    <add key="EmailTagTSICSPublishedArticle" value="TSICSPublishArticle" />
    
    <add key="EmailTagTSICSneedApprove1Article" value="TSICSneedApproved1Article" />
    <add key="EmailTagTSICSneedApprove2Article" value="TSICSneedApproved2Article" />
    <add key="EmailTagTSICSneedApproveTsArticle" value="TSICSneedApprovedTsArticle" />
    
    <add key="EmailTagTSICSneedSubmitArticle" value="TSICSneedSubmitArticle" />
    <add key="EmailTagTSICSSubmitedArticle" value="TSICSSubmitedArticle" />
    
    <add key="EmailTagTSICSRejectedArticle" value="TSICSRejectedArticle" />
    <add key="EmailTagTSICSRespondApprovalArticle" value="TSICSResAppArticle" />
    <add key="EmailTagTSICSAutoRejectArticle" value="TSICSAutoRejectArticle" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" maxRequestLength="102400" executionTimeout="3600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
     <!--<customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx">  
      <error statusCode="404" redirect="~/ErrorPages/404.aspx" />  
    </customErrors>-->  

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
      <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
