@model Com.Trakindo.TSICS.Data.Model.MasterBranch

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="body position-relative d-flex flex-column">
    <div data-active_page="masterBranch--all-post" class="content-wrap flex-fill">
        <section class="position-relative mt-5">
            <div class="container-fluid container-admin ml-0">
                <div class="row">
                    <div class="col-lg-12 position-relative">
                        <h3 class="font-secondary"><span class="text-dark">Detail</span> <span class="text-secondary">Master Branch</span></h3>
                        <section class="card bg-white shadow-sm border-0 mb-5">
                            <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                <div class="left d-flex align-items-center">
                                    <div class="h4 font-secondary mb-0">Master Branch Data</div>
                                </div>
                                </nav>
                            <div id="collapse-target-2" class="collapse show">
                                <div class="card-body">
                                    <div class="form-group mb-4">
                                        <label>Master Area Mapping : </label> @ViewBag.MasterAreaMapping
                                     </div>
                                    <div class="form-group mb-4">
                                        <label>Master Branch Name : </label>@Html.DisplayFor(model => model.Name)
                                    </div>
                                    <div class="form-group mb-4">
                                        <label>Status : </label>
                                        @if (Model.Status == 1)
                                        {
                                            <span>Active</span>
                                        }
                                        else
                                        {
                                            <span>Inactive</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </section>
        <section style="bottom: 0;" class="position-sticky bg-light py-3 sticky-submit-form z-index-10">
            <div class="container-fluid container-admin ml-0">
                <div class="row">
                    <div class="col-12">
                        <div class="cust-fab d-inline-block d-md-none left">
                            <input id="fab-check" type="checkbox" name="" class="fab-check">
                            <label for="fab-check" class="btn btn-warning text-white rounded-circle btn-fab-trigger"><i class="fa fa-plus"></i></label>
                            <div class="fab-group">
                                <button type="submit" name="Submit" value="Submit" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Submit</button>
                                <button type="button" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Cancel</button>
                            </div>
                        </div>
                        <div class="d-none d-md-flex justify-content-between">
                            <div>
                                @*@Html.ActionLink("Back to List", "Index", new { @class =  })*@
                                <a class="btn rounded-0 border-warning bg-light my-1" href="@Url.Action("index", "MasterBranch")" role="button">Back to List</a>
                            </div>
                            <div>
                                <a class="btn rounded-0 btn-warning my-1 ml-2" href="@Url.Action("Edit", "MasterBranch", new { id = Model.MasterBranchId })" role="button">Edit</a>
                               @*@Html.ActionLink("Edit", "Edit", new { id = Model.MasterAreaId, @class = "btn rounded-0 btn-warning my-1 ml-2" })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>