@model Com.Trakindo.TSICS.Data.Model.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main style="background-image: url(../../assets/images/repository/login-bg-1.jpg);" class="body position-relative d-flex w-1000 justify-content-center align-items-center bg-cover">
    <div class="content-wrap login h-100 my-5">
        @ViewBag.Result
    </div>
</main>
